
<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header>
    <%- include('partials/header'); %>
</header>
<main>

<div class="container">
    <div class="centered">
        <h1 class="display-3">Events</h1>
    </div>

    <div class="featured-container">
        <div class="row">
            <% if(Array.isArray(event)){%>
            <%for(var i=0; i < event.length; i++){%>
            <div class="col-sm-4">
                <div> Title: <%=event[i].title%></div>
                <div> Content: <%=event[i].content%></div>
                <div> City: <%=event[i].city%></div>
                <div> Country: <%=event[i].country%></div>
                <div> Start date and time: <%=event[i].start%></div>
                <div> End date and time: <%=event[i].end%></div>
            </div>
            <%}%>
            <%}else{%>
            <label for="data" class="form-label"> <%=event%></label>
            <%}%>
        </div>
    </div>
    <div class="centered">
        <form action="/event" method="POST">
            <div class="form-group">
                <input type="text" class="form-control text-center" name="title" placeholder="What's event's title?">
            </div>
            <div class="form-group">
                <input type="text" class="form-control text-center" name="content" placeholder="What's event's content?">
            </div>
            <div class="form-group">
                <input type="text" class="form-control text-center" name="city" placeholder="Which city event will be in?">
            </div>
            <div class="form-group">
                <input type="text" class="form-control text-center" name="country" placeholder="Which country event will be in?">
            </div>
            <div class="form-group">
                <input type="text" class="form-control text-center" name="start" placeholder="What's event's start date and time?">
            </div>
            <div class="form-group">
                <input type="text" class="form-control text-center" name="end" placeholder="What's event's end date and time?">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
</main>
<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>